*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #ffff;
}
html,body{
  width: 100%;
  height: 100%;
}
#main{
  height: 100%;
  width: 100%;
  background: #000;
}
#nav{
  height: 100px;
  width: 100%;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#nav-prt2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45%;
}
#nav h1{
  font-size: 20px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}
#nav i{
  font-size: 20px;
  margin-right: 5px;
}
#nav h5{
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
}
#nav img{
  height: 35px;
}
#line{
  width: 70px;
  height: 2px;
  background-color: red;
}
#content{
  height: calc(100% - 100px);
  position: relative;
  display: flex;
  justify-content: space-between;
}
#left{
  width: 36%;
  height: 100%;
  padding: 70px 80px;
}
#right{
  width: 36%;
  height: 100%;
  padding: 200px 70px;
}
#center{
  width: 24%;
  height: 100%;
  /* background-color: red; */
  padding-top: 40px;
}
#left h1{
  font-size: 65px;
  line-height: 60px;
  font-weight: 700;
  margin-bottom: 40px;
}
#left h1 span{
  color: red;
  font-weight: 600;
}
#left p{
  margin-bottom: 50px;
  font-size: 17px;
  width: 77%;
}
#left button{
  background-color: red;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 19px;
  display: flex;
  align-items: center;
  font-weight: 700;
  display: inline-block;

}
#left img{
  height: 45px;
  padding-top: 20px;
  margin-left: 20px;
}
#left button i{
  margin-right: 10px;
}
#center-bg{
  background: blue;
  height: 85%;
  width: 100%;
  border-top-left-radius: 1000px;
  border-top-left-radius: 1000px;
  border-top-right-radius: 1000px;
  background-image: url(https://c0.wallpaperflare.com/preview/85/135/782/coca-cola-led-signage.jpg);
  background-size: 450%;
  background-position: 30% 40%;
  filter: blur(3px);

}
#center img{
  height: 100%;
  position: absolute;
  left: 50%;
  bottom: 15px;
  transform: translate(-50%,0);
  
}
#right-elems{
  width: 350px;
}
#elem1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  border-bottom: 1px solid #fff;
  opacity: 0.6;
}
#elem1 h1{
  font-size: 24px;
  font-weight: 600;
}
#elem1 i{
  font-size: 24px;
}
#elem2 h1{
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
  padding-top: 15px;
}
#elem2 p{
  font-size: 12px;
  width: 80%;
  opacity: 0.6;
}
.slayer{
  display: none;
}

@media (max-width: 600px) {
  .slayer{
    display: flex;
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: darkgray;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  .slayer h2{
    color: #000;
    text-align: center;
  }

}